/* index.css - basic reset and typography */
.card{
  
 background-color: skyblue;
  padding: 20px;
  margin: 20px;
  border-radius: 5%;
}

body {
  height: 100%;
  width: 100%;
}

.nav {
  background-color: #857777;
  color: white;
  padding: 10px;
  margin: 5px;
}